html {
	width: 800px;
	margin: auto;
}

h1 {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
}

/* == constant elements ================================= */

.warning {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	border: solid 2px firebrick;
	background: lemonchiffon;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

/* == toolbars ========================================== */

.toolbar {
	background: lightgray;
	overflow: hidden;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

.editor_toolbar { /* rather toolbox */
	float: right;
}

.editor {
	display: inline-block;
}

.edition_toolbar {
	/*background: gray;*/
	padding-left: 0.2em;
	padding-right: 0.2em;
	text-align: right;
}

.mode_switch:link, .mode_switch:active, .mode_switch:visited {
	text-decoration: none;
}

.mode_switch:hover {
	text-decoration: underline;
}

/* == general structure ================================= */

/* -- search panel -------------------------------------- */

#search_panel {
	float: left;
	width: 200px;
}

#search_form {
	display: table;
	width: 100%;
}

#search_mask_input_wrapper {
	display: table-cell;
	/*padding-right: 0.5em;*/
}

#search_mask_input {
	box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	width: 100%;
}

#search_button {
	display: table-cell;
}

.search_result a {
	font-weight: bold;
}

/* -- content panel ------------------------------------- */

#content_panel {
	margin-left: 200px;
}

/* -- footer -------------------------------------------- */

.footer {
	
}

/* == entry structure: general elements ================= */

.container {
}

.bar {
	overflow: hidden;
}

.bar_element {
	display: inline-block;
	font-family: GFS Didot;
}

.content {
	margin-left: 1em;
}

/* == entry structure: particular elements ============== */

.entry_container {}

.headword_bar {}

.headword {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	color: blue;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-left: 0.25em;
	padding-right: 0.25em;
	font-size: 120%;
	font-weight: bold;
}

.pronunciation_bar {}

.pronunciation {
}

.entry_content {
	margin-left: 1em;
}

.category_label_bar {}

.category_label {
	color: green;
}

/* -- form ----------------------------------------------- */

.form_bar {}

.form_label {
	font-style: italic;
}

.form {
	font-weight: bold;
}

/* -- sense ---------------------------------------------- */

.sense_container {}

.sense_label_bar {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	background: pink;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-left: 0.25em;
	padding-right:0.25em;
}

.sense_label {
	margin: 0;
	font-weight: bold;
}

.sense_content {
	margin-left: 1em;
}

/* -- phrase -------------------------------------------- */

.phrase_bar {}

.phrase {
	font-weight: bold;
}

.phrase_content {
	margin-left: 1em;
}

/* -- context ------------------------------------------- */

.context_bar {
}

.context {
	font-style: italic;
}

.context:before {
	content: '[';
}

.context:after {
	content: ']';
}

/* -- translation --------------------------------------- */

.translation_bar {
	margin: 0;
}

.translation {
	margin: 0;
}

/* == buttons =========================================== */

.buttons {
	display: none;
	float: right;
	/*
	width: 50px;*/
}

.button {
	display: inline-block;
	font-size: 67%;
}
