html {
	width: 800px;
	margin: auto;
}

/* == constant elements ================================= */

.warning {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	border: solid 2px firebrick;
	background: lemonchiffon;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

/* == toolbars ========================================== */

.toolbar {
	background: lightgray;
	overflow: hidden;
	padding-left: 0.2em;
	padding-right: 0.2em;
}

.editor_toolbar {
	float: right;
}

.editor {
	display: inline-block;
}

.edition_toolbar {
	/*background: gray;*/
	padding-left: 0.2em;
	padding-right: 0.2em;
	text-align: right;
}

.mode_switch:link, .mode_switch:active, .mode_switch:visited {
	text-decoration: none;
}

.mode_switch:hover {
	text-decoration: underline;
}

/* == entry structure =================================== */

.entry_container {html colosrs}

.headword_bar {
	overflow: hidden;
}

.headword {
	display: inline-block;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	/*background: red;*/
	color: blue;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-left: 0.25em;
	padding-right: 0.25em;
	font-family: GFS Didot;
	font-size: 120%;
	font-weight: bold;
}

.entry_content {
	margin-left: 1em;
}

.category_label_bar {
	overflow: hidden;
}

.category_label {
	display: inline-block;
	color: green;
	font-family: GFS Didot;
}

.form_bar {
	overflow: hidden;
}

.form_label {
	display: inline-block;
	font-family: GFS Didot;
	font-style: italic;
}

.form {
	display: inline-block;
	font-family: GFS Didot;
	font-weight: bold;
}

.sense_container {}

.sense_label_bar {
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	background: pink;
	padding-top: 0.1em;
	padding-bottom: 0.1em;
	padding-left: 0.25em;
	padding-right:0.25em;
	overflow: hidden;
}

.sense_label {
	display: inline-block;
	margin: 0;
	font-weight: bold;
	font-family: GFS Didot;
}

.sense_content {
	margin-left: 1em;
}

.phrase_bar {
	overflow: hidden;
}

.phrase {
	display: inline-block;
	font-weight: bold;
	font-family: GFS Didot;
}

.phrase_content {
	margin-left: 1em;
}

.translation_bar {
	margin: 0;
	overflow: hidden;
}

.translation {
	margin: 0;
	font-family: GFS Didot;
	display: inline-block;
}

/* == buttons =========================================== */

.buttons {
	display: none;
	float: right;
	/*
	width: 50px;*/
}

.button {
	display: inline-block;
	font-size: 67%;
}
